.Score {
  span:first-of-type {
    margin-right: 1rem;
  }

  span {
    color: #F1EFF5;
    font-family: 'Barlow', sans-serif;
    font-size: .7em;
  }

  .Label {
    text-shadow: 0 0 7px #F1EFF5;
    font-family: 'Sacramento', cursive;
    font-size: 2.3em;
  }
}
