/* color variables */
$background: #1F1932;
$background-2: #2D2545;
$shadow: #1E1830;
$select: #2B2442;
$button: #f3f1f7;
$button-text: #100E1B;
$heading: #FDFCFF;
$white-glow: #F1EFF5;
$pink-glow: #FF93D1;
$button-glow: #575272;

$text: #E0E0F5;
$text-alt: #9797DF;
$text-glow:  #B9B9D4;

$shape-checkbox: #6E6CB4;
$shape-checkbox-checked: #A0A0EA;
$detail: #7D7DC6;
$border: #4e456e;
$gray: #8A8894;

