@import './variables';

@media only screen and (min-width: 740px) {
  .App>h1 {
    font-size: 6.4em !important;
  }
}

.App {
  background-color: $background;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  gap: 3rem;

  h1 {
    color: $heading;
    font-family: 'Sacramento', cursive;
    font-size: 14vw;
    margin: 3rem 0 0 0;
    animation: pulsate 2.5s infinite alternate;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px $white-glow,
      0 0 40px $pink-glow,
      0 0 80px $pink-glow,
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px $white-glow,
      0 0 10px $pink-glow,
      0 0 45px $pink-glow,
  }
}
