@import '../../styles/variables';

/* 4 shapes */
.Grid--2C-by-2R {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* 9 shapes */
.Grid--3C-by-3R {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* disallow click during animation */
.Playing {
  text-shadow: none;
  pointer-events: none;
  user-select: none;
}

.Game {
  position: relative;
  background-color: $background-2;
  border: 1px solid $border;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  border-radius: .3rem;
  height: 15rem;
  width: 15rem;
  box-shadow: 6px 6px 20px 1px $shadow;

  .Modal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;

    .Button {
      cursor: pointer;
      background: $button;
      color: $button-text;
      font-family: 'Barlow', sans-serif;
      font-size: 1.3em;
      appearance: none;
      padding: .7rem 1.7rem;
      border-radius: .3rem;
      border: 0;
      outline: 0;
      transition: .3s;

      &:hover {
        filter: brightness(95%);
      }
    }
  }

  .Button {
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: .3s;

    &:hover:not(.Animate) {
      filter: brightness(80%);
    }
  }

  .Square {
    border-radius: 5px;
  }

  .Diamond {
    border-radius: 5px;
    transform: rotate(45deg) scale(.7);
  }

  .Circle {
    border-radius: 100%;
  }

  .HeartButton {
    border: 0;
    outline: 0;
    background: transparent;
    transform: scale(1.09);

    .Heart {
      width: 100%;
      height: 100%;
    }
  }

  .Animate {
    box-shadow: 0 0 15px 1px $button-glow;

    filter:
      brightness(150%)
      saturate(155%);
  }

  .CounterWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    .Counter {
      background-color: $counter;
      box-shadow: 3px 3px 10px 1px #14111e90;
      color: $heading;
      text-shadow: 0 0 5px $text-glow;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
      font-family: 'Barlow', sans-serif;
      font-size: 2.5em;
    }
  }
}
