@import '../../styles/variables';

@media only screen and (max-width: 420px) {
  .Footer>span {
    font-size: .9em !important;
  }
}

.Footer {
  padding: 2rem 0;

  span {
    color: $text-alt;
    font-family: 'Barlow', sans-serif;
  }
}
