@media only screen and (min-width: 740px) {
  .App>h1 {
    font-size: 6.1em !important;
  }
}

.App {
  background-color: #15121E;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  gap: 3rem;

  h1 {
    color: #F1EFF5;
    font-family: 'Sacramento', cursive;
    font-size: 14vw;
    margin: 3rem 0 0 0;
    animation: pulsate 2.5s infinite alternate;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #F1EFF5,
      0 0 40px #FF79C6,
      0 0 80px #FF79C6,
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #F1EFF5,
      0 0 10px #FF79C6,
      0 0 45px #FF79C6,
  }
}
