@import '../../styles/variables';

.ToggleButton {
  cursor: pointer;
  appearance: none;
  background: none;
  border: 0;
  display: flex;
  align-items: center;
  color: $text;
  text-shadow: 0 0 4px $text-glow;
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  transition: .5s;

  &:hover {
    text-shadow: none;
  }

  .Icon {
    margin-right: .5rem;
    font-size: 1.3em;
  }
}

.Disabled {
  filter: brightness(70%);
  text-shadow: none;
  pointer-events: none;
  user-select: none;
}

.Settings {
  position: relative;
  border-radius: 5px;
  background-color: $background-2;
  border: 1px solid $border;
  padding: 1rem;
  height: 19rem;
  width: 15rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 6px 6px 20px 1px $shadow;

  h2 {
    color: $heading;
    text-shadow: 0 0 10px $text-glow;
    font-family: 'Sacramento', cursive;
    font-size: 2.75em;
    margin: 0;
    transition: .5s;

    &:hover {
      text-shadow: 0 0 3px $white-glow;
    }
  }

  hr {
    background-color: $detail;
    border: 0;
    height: .1rem;
    width: 3rem;
  }

  .Container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
  }

  .SettingWrapper {
    span {
      color: $text;
      font-family: 'Barlow', sans-serif;
      font-size: 1.1em;
      margin-right: .25rem;
      transition: .5s;

      &:hover {
        text-shadow: 0 0 4px $text-glow;
      }
    }
  }

  .ShapeCheckbox {
    cursor: pointer;
    appearance: none;
    background: none;
    border: 0;
    outline: 0;
    width: 1.3rem;
    height: 0;

    &:focus {
      cursor: default;
    }
  }

  .ShapeIcon {
    width: 1rem;
    height: 1rem;
    color: $shape-checkbox;
    transition: .1s;

    &:hover {
      filter: brightness(90%);
    }
  }

  .Checked {
    color: $shape-checkbox-checked;

    &:hover {
      filter: brightness(90%);
    }
  }

  .Select {
    color: $text;
    font-family: 'Barlow', sans-serif;
    font-size: 1.1em;
    text-shadow: 0 0 4px $text-glow;
    background: $select;
    outline: none;
    border: 1px solid $detail;
    border-radius: .2rem;
    text-align: center;
    padding: .1rem;
    margin-left: .4rem;
  }
}
